################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project-3.slnx/FileContentIndex

## Build results
bin/
obj/
[Bb]in/
[Oo]bj/

## Visual Studio
.vs/
*.user